@page "/"
@page "/Index"

<PageTitle>House Budget</PageTitle>


<h1 class="mt-2 color-black font-monospace text-center text-capitalize text-danger mb-4"> Total Bill of your House Builder </h1>

<p class="text-black-50 text-capitalize text-end"> It's Not How Big The House Is, It's How Happy The Home Is!</p>
<img src="/Image/941e749226120fa593ac8447c3d85176.jpg" class ="float-end w-50 mt-4" />

<p class="sanText"> House Budget is a website that helps us to add all the bills for the construction of a house based on the month and date </p>

<p class="text-black sanText1"> You can see the updates at the right time</p>
