@page "/April"

<br/>
<h3 class="text-black-50 float-end">April</h3>

<h3 class="text-black text-center mb-5 mt-5">Budget For A.SH House</h3>

<img src="/Image/R (1).jpg" class="rounded float-end w-50" />

<br/><br/>
<br/><br/>  
<div class="list-group p-4">
<a class="list-group-item list-group-item-action list-group-item-danger" href="/Cement"> Cement</a> 
&nbsp;
<a class="list-group-item list-group-item-action list-group-item-danger" href="/Concrete"> Concrete</a> 
&nbsp;
<a class="list-group-item list-group-item-action list-group-item-danger" href="/GranulatedStone"> GranulatedStone</a>
&nbsp;
<a class="list-group-item list-group-item-action list-group-item-danger" href="/IronConstruction"> IronConstruction</a> 
&nbsp;
<a class="list-group-item list-group-item-action list-group-item-danger" href="/Sand"> Sand</a>
&nbsp;
<a class="list-group-item list-group-item-action list-group-item-danger" href="/Styrofoam"> Styrofoam</a>

</div>







